#BarChart{
    background-color: #f1faee;
    position: relative;
    height: 410px;
    width: 750px;
    padding: 2%;
    float: left;
    border-radius: 3%;
    border-color: darkslategray;
    border-width: 50px;
}

/* #chart-inner{
    background-color: crimson;
   
} */