#BarChart{
    background-color: #f1faee;
    position: relative;
    height: 100%;
    width: 90%;
    padding: 2%;
    display: inline-block;
 
    border-radius: 3%;
    border-color: darkslategray;
    border-width: 50px;
}

/* #chart-inner{
    background-color: crimson;
   
} */